@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="~/js/MainMapEvents.js"></script>
<link rel="stylesheet" href="~/css/MainMap.css" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="map"></div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>

</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDskCuIVFMekGb0wTiOp1d7NjXCzKnM6BU&libraries=places&callback=initMapFromMainMap" defer>
</script>


